<% include top %>

    <div id="wrap">
        <div id="container">
            <div id="lifePlayer1">
                <div class="innerLife">
                    <div id="life1"></div>
                </div>
            </div>
            <div id="lifePlayer2">
                <div class="innerLife">
                    <div id="life2"></div>
                </div>
            </div>

            <img id="player1" src="../images/heli-player1.png">
            <img id="player2" src="../images/heli-player2.png">
            <div id="createGame">
                <p>Create game</p>
            </div>

            <div id="joinGame">
                <p>Join game</p>
            </div>

            <div id="code">
                <p>Gửi mã dưới cho người bạn muốn chơi cùng:</p>
                <p style="font-weight: 600;font-size:50px;"></p>
            </div>

            <div id="insertCode">
                <p>Nhập mã vào ô dưới:</p>
                <p><input type="text"></p>
                <p><input type="button" value="Connect"></p>
            </div>
        </div>
    </div>

    <% include bottom %>